* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #2c2f33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vmin;
  height: auto;
  background-color: #23272a;
  border-radius: 1vmin;
  padding: 2vmin;
  box-shadow: 0 1vmin 2vmin rgba(0, 0, 0, 0.3);
}

.options {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  margin: 0 0 1.5vmin;
  font-size: 3vmin;
  color: white;
}

label {
  font-size: 2vmin;
  margin: 1vmin 0 0.5vmin;
  color: #99aab5;
}

input {
  width: 90%;
  padding: 1vmin;
  font-size: 2vmin;
  border: none;
  border-radius: 0.5vmin;
  background-color: #99aab5;
  color: #23272a;
  margin-bottom: 1.5vmin;
}

button {
  width: 90%;
  padding: 1vmin;
  font-size: 2vmin;
  border: none;
  border-radius: 0.5vmin;
  background-color: #7289da;
  color: #fff;
  cursor: pointer;
  margin-top: 1.5vmin;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #5b6eae;
}

.canvas-container {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 0.3vmin solid #7289da;
  background-color: #2c2f33;
  width: 30vmin;
  height: 30vmin;
}